<p-toolbar [style]="{ padding: '0rem' }">
  <div class="p-toolbar-group-left">
    <ul>
      <li>
        <button
          pButton
          [routerLink]="['/']"
          type="button"
          class="p-button-danger p-button-text"
          [style]="{ 'font-weight': '700' }"
        >
          Home
        </button>
      </li>
    </ul>
    <ul>
      <li>
        <button
          pButton
          [routerLink]="['/about']"
          type="button"
          class="p-button-danger p-button-text"
          [style]="{ 'font-weight': '700' }"
        >
          About
        </button>
      </li>
    </ul>
  </div>
</p-toolbar>
